.media-card-content h2, .media-card-content p {
  color: var(--bs-black);
}

.media-card-content p {
  font-size: 1.1rem;
}

.media-card-content a {
  text-decoration: none;
}

.media-card img {
  max-width: 100%;
}

/* Skip links styling */
.skip-links ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.skip-links a {
  font-size: 11px;
  font-size: 0.6875rem;
  position: absolute;
  right: 20px;
  top: -200px;
  z-index: -1;
}

.skip-links a:focus {
  top: 2px;
  z-index: 9999;
}