main {
    padding: 1rem;
}

.alerts > ul {
    list-style: none;
    padding: 0;
}

.alerts {
    margin: 0.5rem;
    padding: 0.5rem 0 0.8rem 0;
    display: flex;
    gap: 1em;
    border-bottom: 1px solid var(--bs-grey-3);
}

.alerts h3 {
    margin: 0;
    font-size: 1.2em;
}

.alerts p {
    margin: 0;
}

.alerts svg {
    height: 30px;
    width: 30px;
    margin: 0.25;
    flex: 0 0 auto;
}

/* visitor styles*/

.visitor > details > ul {
    list-style: none;
    padding: 0;
}

.visitor > details li {
    border-bottom: 1px solid var(--bs-grey-3);
}