.intro {
  padding: 1em;
}

.intro h1, main > h1 {
  font-family: var(--bs-font-serif);
  margin-top: 2em;
  font-weight: normal;
}

.intro p {
  font-family: var(--bs-font-sans-serif);
}

.intro > h1 {
  padding: 1rem;
  font-family: var(--bs-font-serif);
  font-weight: normal;
}

.info {
  padding: 1em;
  gap: 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.info > * {
  flex: 1;
}

@media screen and (min-width: 768px) {

  .info {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}